body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

h4 {
  color: #1976d2;
  text-transform: uppercase;
  
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
